<h1>THIS IS THE CALCULATOR!!</h1>

<form action="/result">
  <p name="price">
    Enter total gas cost
  </p>
  <input type="text" name="price">
  <p name="gallons">
    Enter number of gallons
    </p>
    <input type="text" name="gallons">
    <input type="submit">
</form>